@import "../variables.scss";

.footer {
  background-color: $Neutral_dark_shade_01;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 8em;
  padding: 5em 2em;

  section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    text-align: center;
    &:first-of-type {

      p {
        &:first-child {
          font-size: clamp(1.5rem, 2vw, 2.5rem);
          color: $Neutral_very_light_shade;
        }
        &:nth-child(3) {
          font-size: clamp(1.1rem, 1.4vw, 1.2rem);
          color: $Neutral_light_shade;
        }
      }

      a {
        font-size: clamp(1.1rem, 1.4vw, 1.2rem);
        color: $Olivine_light_shade;
        &:hover{
            text-decoration: underline;
        }
      }
    }

    &:last-of-type{
      p{
        font-size: clamp(1.5rem, 2vw, 2.5rem);
          color: $Neutral_very_light_shade;
      }

      div{
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }

  img {
    cursor: pointer;
    width: clamp(3em, 5vw, 3em);
    height: auto;
    object-fit: fill;
    transition: all 200ms ease;
    &:hover {
      scale: 1.1;
    }
  }
}

@media screen and (min-width: 75em) {
  
.footer {
  justify-content: center;
  flex-direction: row-reverse;
  gap: 8em;
  padding: 5em;

  section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width:50%;
    align-items: center;
    text-align: center;
    &:first-of-type {

      p {
        &:first-child {
          font-size: clamp(1.5rem, 2vw, 2.5rem);
          color: $Neutral_very_light_shade;
        }
        &:nth-child(3) {
          font-size: clamp(1.1rem, 1.4vw, 1.2rem);
          color: $Neutral_light_shade;
        }
      }

      a {
        font-size: clamp(1.1rem, 1.4vw, 1.2rem);
        color: $Olivine_light_shade;
        &:hover{
            text-decoration: underline;
        }
      }
    }

    &:last-of-type{
      p{
        font-size: clamp(1.5rem, 2vw, 2.5rem);
          color: $Neutral_very_light_shade;
      }

      div{
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
    }
  }

  img {
    cursor: pointer;
    width: clamp(3em, 5vw, 3em);
    height: auto;
    object-fit: fill;
    transition: all 200ms ease;
    &:hover {
      scale: 1.1;
    }
  }
}
}